<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <p>
        <% @blog.errors.full_messages.each do |msg| %>
            <%= msg %> </br>
        <% end %>
    </p>
  <% end %>
    <fieldset>
        <p><%= f.label :title %></p>
        <p><%= f.text_field :title %></p>
        <p><label>Category</label></p>
        <p><%= collection_select(:name,:category_id,@categories,:id, :name, {:prompt => true})  %></p>
        <p><%= f.label :content %></p>
        <p class="big-textarea"><%= f.text_area :content %></p>
        <p><%= f.submit %></p>
    </fieldset>
<% end %>




