        <div id="header" class="clearfix">
          <div id="logo">
            <a href="/">
              <span>
                <%= image_tag "speed_up_software_development.jpg"  %> <p> Santhosh's tech notes </p>
              </span>
            </a>
			    </div>
      			<ul id="nav" class="sf-menu">
			      	<li><%= link_to "Home",  "/" %></li>
				      <li><%= link_to "Open sources", "/opensources" %></li>
				      <li><%= link_to "About me", "/aboutme" %></li>
              <li><%= link_to "Contact", "/contact" %></li>
			      </ul><!--nav ends-->
		    </div><!--header ends-->
        <div id="mini-header"></div><!--mini-header ends-->