        <div id="header" class="clearfix">
          <div id="logo">
              <span><%= image_tag "speed_up_software_development.jpg" , :height => 35, :width => 50 %> Santhosh's tech notes</span>
			</div>
			<ul id="nav" class="sf-menu">
				<li><%= link_to "Home", :controller => "home", :action => "index" %></li>
				<li><%= link_to "Open sources", :controller => "home", :action => "opensources" %></li>
				<li><%= link_to "About me", :controller => "home", :action => "aboutme" %></li>
                <li><%= link_to "Contact", :controller => "home", :action => "contact" %></li>
			</ul><!--nav ends-->
		</div><!--header ends-->
        <div id="mini-header"></div><!--mini-header ends-->