            <div class="two-thirds">
              <% if @blogs.count > 0  %>
			     <% @blogs.each do |blog| %>
                    <div class="post">
					    <div class="post-meta">
						    <h1><a href="/blog/<%= blog.id %>/<%= blog.title %>"><%= blog.title %></a></h1>
    						<small><%=  blog.updated_at.strftime("%b %d, %Y") %></small>
                            <% contributor = nil
                               unless blog.contributors_id.nil? then contributor = Contributor.find(blog.contributors_id) end %>
			    			<small>by <a href="#"><%= if contributor.nil? then "" else contributor.username end %></a></small>
                            <% category = nil
                               unless blog.categories_id.nil? then category = Category.find(blog.categories_id) end %>
                            <% unless category.nil? %>
		    				    <small>in <a href="/category/<%= category.name %>"><%= category.name %></a></small>
                            <% end %>
			    			<small><a href="#"></a></small>
				    	</div>
					    <p><%=  blog.content[0..463].html_safe %> ...</p>
    					<a class="read-more" href="/blog/<%= blog.id %>/<%= blog.title %>">Read more</a>
	    			</div><!--post ends-->
	    		
		    		<hr />
                 <% end %>
                 </div>
              <% else %>
                <div class="post">
                    <div class="post-meta">
                  	    <h1>Note book empty for now!!!</h1>
                    </div>
                  	<p>Keep subscribe to this blog, we will share you interesting notes</p>
                  </div><!--post ends-->
                <hr />
              <% end %>
              <%=  render :partial => 'partials/commentSystem' %>
        </div>
        
