<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="/images/favicon1.ico" type="image/x-icon" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="santhosh" />
	<meta name="description" content="Santhosh's blog articles and interesting things." />
	<meta name="keywords" content="Santhosh blog articles interesting things santhoshonet" />
	<title>Santhosh's Articles and Interesting things</title>
	<!-- Stylesheets -->
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "colors" %>
    <%= stylesheet_link_tag "superfish" %>
</head>
<body>
	<div id="wrap">
		<div id="header" class="clearfix">
			<div id="logo">
				<span><%= image_tag "speed_up_software_development.jpg" , :height => 35, :width => 50 %> Santhosh's tech notes</span>
			</div>
			<ul id="nav" class="sf-menu">
				<li><%= link_to "Home", :controller => "home", :action => "index" %></li>
				<li><%= link_to "Open sources", :controller => "home", :action => "opensources" %></li>
				<li><%= link_to "About me", :controller => "home", :action => "aboutme" %></li>
                <li><%= link_to "Contact", :controller => "home", :action => "contact" %></li>
			</ul><!--nav ends-->
		</div><!--header ends-->
		<div id="mini-header"></div><!--mini-header ends-->
		<div id="content" class="clearfix">
			<%= yield %>
            <div class="one-third last">
				<form id="search-form" method="post" action="">
					<fieldset>
						<input type="text" onfocus="if (this.value == 'Search here...')	{this.value = '';}" onblur="if (this.value == '') {this.value = 'Search here...';}" value="Search here..." />
						<input type="submit" value="Search" class="submit" />
					</fieldset>
				</form>
                <div class="widget">
					<h3>Aim!!!</h3>
					<p><strong>Technology</strong>,<br />The more you know, the better you can use.</p>
				</div>
				<div class="widget">
					<h3>About me</h3>
					<p><strong>Santhosh PS</strong>, Chennai. I'm a developer cum lead working in ILink Systems, Chennai, having 7 years of experience in software development life cycle in various technologies of Windows, Web, Mobile applications and Embedded systems using .net framework 2.0/3.5/4.0 and also carried out development projects in C, C++, VB.net, C#.net, ASP.net 2.0/3.5, MS Sharepoint Server 2007/2010, MS Project Server 2007/2010, Javascripts, Jquery, Asp.net MVC 2.0/3.0, Ajax, Json, Xml, Ruby on Rails 2.3.8....3.0.3,... etc     </p>
				</div>
                <div class="widget">
					<h3>Categories</h3>
					<ul>
                        <% Category.all.each do |category|  %>
                            <li><a href="#"><%= category.name %></a></li>
                        <% end %>
					</ul>
				</div>
                <div class="widget">
					<h3>Contribution</h3>
				    We are inviting you to contribute your ideas and thoughts. If you are interested please contact us by dropping a mail to <a href="mailto:santhoshonet@gmail.com">santhoshonet@gmail.com</a>
                    <p></p>
				</div>
				<div class="widget">
					<h3>Advertisements</h3>
					For your adds, please contact us by dropping a mail to <a href="mailto:santhoshonet@gmail.com">santhoshonet@gmail.com</a>
                    <p></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div><!--content ends-->
		<div id="mini-footer"></div><!--mini-footer ends-->
		<div id="footer" class="clearfix">
			<ul class="social right">
				<li><a href="http://www.facebook.com/santhoshonet"><%= image_tag "social-icons/facebook_16.png", :alt => "facebook" %></a></li>
				<li><a href="http://twitter.com/#!/santhoshonet"><%= image_tag "social-icons/twitter_16.png", :alt => "twitter" %></a></li>
				<li><a href="http://www.flickr.com/photos/santhoshonet"><%= image_tag "social-icons/flickr_16.png", :alt => "flicker" %></a></li>
				<li><a href="http://in.linkedin.com/pub/santhosh-ps/16/627/565"><%= image_tag "social-icons/linkedin_16.png", :alt => "linkedin" %></a></li>
			</ul>
			<span>All the copyrights of this site registered &copy; 2010. Created by <a href="https://github.com/santhoshonet">Santhosh PS</a> using <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails">Ruby on Rails</a> and hosted at <a href="http://www.heroku.com/">Heroku</a></span>
		</div><!--footer ends-->
	</div><!--wrap ends-->

	<!-- jQuery Scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "hoverIntent" %>

	<!-- Cufon font replacement -->
	<%= javascript_include_tag "cufon-yui" %>
    <%= javascript_include_tag "Sansation_300.font" %>

	<!-- Superfish dropdown menu -->
	<%= javascript_include_tag "superfish" %>
    <%= javascript_include_tag "supersubs" %>

	<!-- Fancybox - image popup -->
    <%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.2.pack" %>
    <%= javascript_include_tag "fancybox/jquery.fancybox-1.3.1" %>

	<!-- Sliders -->
	<%= javascript_include_tag "jquery.cycle.all" %>
    <%= javascript_include_tag "coin-slider" %>

	<!-- Custom javasript -->
    <%= javascript_include_tag "custom" %>
    
	<script type="text/javascript">
        try
        {
            Cufon.now();
        }catch(e){}
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30906117-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>