<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%=  render :partial => "partials/pageHeaders" %>
</head>
<body>
	<div id="wrap">
       <%=  render :partial => "partials/header" %>
		<div id="content" class="clearfix">
			<%= yield %>
            <% if params[:action].to_s == "aboutme"  %>
                <%=  render :partial =>  "partials/one-fourth" %>
            <% else %>
                <%=  render :partial =>  "partials/one-third" %>
            <% end %>
			<div class="clearfix"></div>
		</div><!--content ends-->
      <%=  render :partial => "partials/footer" %>
	</div><!--wrap ends-->
	<!-- jQuery Scripts -->
	<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    -->
    <%= javascript_include_tag "jquery-1.7.2.min" %>
	<%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "hoverIntent" %>

	<!-- Cufon font replacement -->
	<%= javascript_include_tag "cufon-yui" %>
    <%= javascript_include_tag "Sansation_300.font" %>

	<!-- Superfish dropdown menu -->
	<%= javascript_include_tag "superfish" %>
    <%= javascript_include_tag "supersubs" %>

	<!-- Fancybox - image popup -->
    <%=  javascript_include_tag "jquery.mousewheel-3.0.6.pack" %>
    <%= javascript_include_tag "jquery.fancybox" %>
    
	<!-- Sliders -->
	<%= javascript_include_tag "jquery.cycle.all" %>
    <%= javascript_include_tag "coin-slider" %>

	<script type="text/javascript">
        try
        {
            Cufon.now();
        }catch(e){}
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30906117-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Custom javascript -->
    <%= javascript_include_tag "custom" %>
</body>
</html>