<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="google-site-verification" content="Y1TcJc0VfFKbl3aStKeL5ZoEsUx54S6d_niSa6Z1Q30" />
<head>
  <%=  render :partial => "partials/pageHeaders" %>
</head>
<body>
	<div id="wrap">
        <%=  render :partial => "partials/header" %>
		<div id="content" class="clearfix">
			<%= yield %>
    		<div class="clearfix"></div>
		</div><!--content ends-->
        <%=  render :partial => "partials/footer" %>
	</div><!--wrap ends-->
	<!-- jQuery Scripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "hoverIntent" %>
	<!-- Cufon font replacement -->
	<%= javascript_include_tag "cufon-yui" %>
    <%= javascript_include_tag "Sansation_300.font" %>
    <!-- Custom javasript -->
    <%= javascript_include_tag "custom" %>
	<script type="text/javascript">
        try
        {
            Cufon.now();
        }catch(e){}
    </script>
</body>
</html>